body{
    background-color: #141414;
    margin: 0px;
    overflow: hidden;

}
.BackgroundImage{
    position: absolute;
    height: 100%;
    width: 100%;
    filter:blur(10px);
    opacity: 0.8;
    animation: BackgroundImageAnimation 2s ease forwards;
}



@keyframes BackgroundImageAnimation {
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1);
    }
}
.topHr{
    position: absolute;
    width: 250px;
    opacity: 0.3;

}
.bigCard{
    position: relative;
    height: 600px;
    width: 400px;
    justify-content: center;
    margin: auto;
    background-color: #333333;
    border-radius: 100px;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    transform: translateY(120px) ;
    animation: BigCardAnimation 1.5s ease forwards;
    animation-delay: 0.1s;
    z-index: 0;

}
@keyframes BigCardAnimation {
    from{
        pacity: 0;
        transform: translateY(240px) ;
    }
    to{
        opacity: 0.3;
        transform: translateY(120px) ;
    }


}
.overlay{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.64) 0px 5px 10px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    justify-content: center;
    margin: auto;
    height: 200px;
    width: 200px;
    transform: translateX(105px) translateY(-20px);
    z-index: 1;
    background-color: #333333;
    animation: OverlayAppearence 1s ease forwards;
    background-color: rgb(31, 31, 31);
}


@keyframes OverlayAppearence {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.3;
    }

}
.registerImage{
    position: absolute;
    height: 190px;
    width: 194px;
    border-radius: 100px;
    transform: translateX(0px) translateY(10px);
    opacity: 0.8;
    z-index: 2;
}


.HeadingDivRelative{
    height: 600px;
    width: 400px;
    position: relative;
    justify-content: center;
    margin: auto;
    border-radius: 100px;
    transform: translateY(-400px) ;
    animation: HeadingDivRelativeAnimation 1.2s ease forwards;

}

@keyframes HeadingDivRelativeAnimation {
    from {
        pacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(-400px);
    }
}

.headingDiv{
    position: absolute;
    height: 50px;
    width: 250px;
    text-align: center;
    justify-content: center;
    background-color: #141414;
    border-radius: 100px;
    transform: translateX(80px);
    opacity: 0.7;
    box-shadow: 0px 3px black;
}
.Heading{


}

.HrefRegister{

    text-decoration: none;
    position: absolute;
    transform: translateX(65px) translateY(0px) translateY(-25px);
    font-family: Consolas;
    opacity: 0.4;
    font-size: 40px;
    color: #ffffff;

}

.Arrow{
    position: absolute;
    transform: scale(1.1)  translateX(110px) translateY(-26px);
}

.HrefText{
    position: relative;
    transform: scale(1);
}

.HrefText:hover
.Arrow {
    animation: ArrowAnimation 0.3s ease forwards;
}


@keyframes ArrowAnimation {
    from{
        transform: scale(1.1) translateX(110px) translateY(-25px);
    }
    to
    {
        transform: scale(1.1) translateX(115px) translateY(-25px);
    }


}
.smallCard{
    height: 50px;
    width: 250px;
    justify-content: center;
    margin: auto;
    transform: translateY(200px);

}
.footerCard{
    display: flex;
    gap: 3px;
    height: 50px;
    width: 250px;
    justify-content: center;
    margin: auto;
    transform: translateY(200px) translateX(-75px);
}

.input1{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    text-align: center;
    background-color: #141414;
    opacity: 0;
    box-shadow: 0px 3px black;
    color: rgba(255, 255, 255, 0.51);
    font-size: 17px;
    font-family: Consolas;
    transform: translateY(-20px);
    animation: AppearencePlaceholders1 0.8s ease forwards;
    animation-delay: 0.5s;

}
.input2{

    height: 50px;
    width: 250px;
    border-radius: 50px;
    text-align: center;
    background-color: #141414;
    opacity: 0;
    box-shadow: 0px 3px black;
    color: rgba(255, 255, 255, 0.51);
    font-size: 17px;
    font-family: Consolas;
    animation: AppearencePlaceholders2 1s ease forwards;
    animation-delay: 0.5s;
}

.Submit{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.56);
    border:white;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    opacity: 0;
    justify-content: center;
    margin: auto;
    transform: translateX(-30px) translateY(40px);
    font-family: Consolas;
    animation: AppearenceSubmit 1s ease forwards;
    animation-delay: 0.8s;
    background-color: rgb(227, 227, 227);
    transition: 0.4s;
    color: black;

}
.Submit:hover{

    background-color: rgb(220, 148, 62);
    color: white;
}

.HrefLink{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.56);
    border:white;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    opacity: 0;
    justify-content: center;
    margin: auto;
    font-family: Consolas;
    animation: AppearenceHref 0.8s ease forwards;
    animation-delay: 0.8s;
    text-decoration: none;
    background-color: rgb(227, 227, 227);
    transition: 0.4s;
    color: black;

}

.HrefLink:hover{
    background-color: rgb(220, 148, 62);
    color: white;
}





@keyframes AppearenceHref{
    from{
        opacity: 0;
        transform: translateX(150px) translateY(40px);
    }
    to{
        opacity: 0.7;
        transform: translateX(80px) translateY(40px);
    }
}

@keyframes AppearencePlaceholders1 {

    from{
        opacity: 0;
        transform: translateY(-20px) translateX(100px);
    }
    to{
        opacity: 0.5;
        transform: translateY(-20px) translateX(0px);
    }
}
@keyframes AppearencePlaceholders2 {

    from{
        opacity: 0;
        transform: translateY(0px) translateX(-100px);;
    }
    to{
        opacity: 0.5;
        transform: translateY(0px) translateX(0px);;
    }
}

@keyframes AppearenceSubmit{

    from{
        opacity: 0;
        transform: translateX(-10px) translateY(40px);
    }
    to{
        opacity: 0.7;
        transform: translateX(80px) translateY(40px);
    }
}

.backImage{
    height: 30px;
    width: 30px;
    position: absolute;
    opacity: 0;
    top:110px;
    transform: translateX(9px) ;
    animation: backImageMainAnimation 1s ease forwards;
    animation-delay: 1.4s;

}

.backImage:hover{
    animation: backImageAnimation 1s ease forwards;
    transform: translateX(9px) translateY(0px);
}
@keyframes backImageAnimation {
    from{
        opacity: 0.03;

    }
    to{
        opacity: 0.5;


    }
}

@keyframes backImageMainAnimation {
    from{
        opacity: 0;
        transform: translateX(9px) translateY(-100px) ;
    }
    to{
        opacity: 0.3;
        transform: translateX(9px) translateY(0px);

    }
}



input[type='password'] {
    font-family: Consolas;

}
