body{
    background-color: #141414;
    margin: 0px;
    overflow: hidden;
    background-image: radial-gradient(rgba(65, 65, 65, 0.18) 3%, transparent 0);
    background-size: 40px 40px;

}
.topHr{
    position: absolute;
    width: 250px;
    opacity: 0.3;

}
.bigCard{
    position: relative;
    height: 600px;
    width: 400px;
    justify-content: center;
    margin: auto;
    background-color: #333333;
    border-radius: 200px;
    opacity: 0.3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    transform: translateY(120px) ;

}
.headingDiv{
    position: absolute;
    height: 50px;
    width: 200px;
    text-align: center;
    justify-content: center;
    background-color: #141414;
    border-radius: 100px;
    transform: translateY(50px) translateX(100px);
    opacity: 0.2;
    box-shadow: 0px 3px black;
}
.Heading{
    font-size: 40px;
    font-family: Consolas;
    transform: translateY(-25px);
    color: #ffffff;

}
.smallCard{
    height: 50px;
    width: 250px;
    justify-content: center;
    margin: auto;
    transform: translateY(200px);

}

.input1{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    text-align: center;
    transform: translateY(-20px);
    background-color: #141414;
    opacity: 0.5;
    box-shadow: 0px 3px black;
    color: white;
    font-size: 15px;
    font-family: Consolas;
}
.input2{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    text-align: center;
    background-color: #141414;
    opacity: 0.5;
    box-shadow: 0px 3px black;
    color: white;
    font-size: 15px;
    font-family: Consolas;
}
video{

    opacity: 0.7;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: -2;
    animation: VideoAnimation 3s forwards;
    animation-delay: 3.5s;



}


.Submit{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    opacity: 0.7;
    justify-content: center;
    margin: auto;
    transform: translateX(80px) translateY(50px);
    font-family: Consolas;

}
.Submit:hover{
    transform: translateX(80px) translateY(50px) scale(1.05);
    background-color: #a166ff;
}

@keyframes VideoAnimation {
    from{
        opacity: 0.7;
        filter:blur(0px);



    }
    to{
        opacity: 0.3;
        filter:blur(8px);

    }

}


.HrefRegister{
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    transform: translateX(65px) translateY(0px);
    color: #cbcbcb;
    font-family: Consolas;
    opacity: 0.4;

}

.Arrow{
    position: absolute;
    transform: scale(1.1)  translateX(110px) translateY(-26px);
}

.HrefText{
    position: relative;
    transform: scale(1);
}

.HrefText:hover
.Arrow {
    animation: ArrowAnimation 0.3s ease forwards;
}


@keyframes ArrowAnimation {
    from{
        transform: scale(1.1) translateX(110px) translateY(-25px);
    }
    to
    {
        transform: scale(1.1) translateX(115px) translateY(-25px);
    }


}
